service: scp-bds
custom: ${file(./serverless.vars.yml)}
# before changing version make sure serverless-artifacts plugin supports it
frameworkVersion: "=1.83.3"

plugins:
  - apig-caller-credentials
  - serverless-artifacts
  - serverless-offline
  - serverless-plugin-tracing
package:
  individually: true
  # exclude everything, serverless-artifacts plugin will add required includes
  exclude:
    - '**'
  # skip dev dependencies check, artifacts already contain only relevant dependencies
  excludeDevDependencies: false
provider:
  region: us-east-1
  name: aws
  runtime: ${self:custom.RUNTIME}
  memorySize: 1280
  timeout: 300
  environment: ${self:custom.env}
  stage: ${self:custom.env.SERVERLESS_STAGE}
  stageVars: ${self:custom.STAGE_VARS.${self:provider.stage}}
  stageRoles: ${self:custom.STAGE_ROLES.${self:provider.stage}}
  role: ${self:provider.stageRoles.lambda_role}
  versionFunctions: false
  tracing: true # enable tracing

functions:
  #Apis
  signed-upload-url: ${file(./functions/apis/url/_sls-functions.yml):uploadUrl}
  signed-read-url: ${file(./functions/apis/url/_sls-functions.yml):readUrl}

  #Auxiliary
  parse-csv-file: ${file(./functions/auxiliary/parse-csv-file/_sls-functions.yml):parseCsvFile}
  fetch-tax-code-info: ${file(./functions/auxiliary/fetch-tax-code-info/_sls-functions.yml):fetchTaxCodeInfo}

resources:
  - ${file(dynamodb-tables.yml)}
  - ${file(s3-sqs-sns.yml)}
